@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin: 40px 650px 40px 650px;
    padding: 20px 40px 20px 40px;
    width: 500px;
    text-align: center;
}

#subtitle {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1px 20px 10px 20px;
    width: 500px;
    
}

.topic {
    background: lightgray;
    margin: 40px 650px 40px 650px;
    padding:1px 10px 1px 10px;
    text-align: center;
    width: 100px;
    display: inline-block;
}



