@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin: auto;
    padding: 20px 40px 20px 40px;
    width: 500px;
}

#subtitle {
    background: black;
    color: white;
    margin-top: 50px;
    margin-left: 420px;
    padding: 1px 60px 10px 20px;
    width: 500px;
    
    
}

.topic {
    background: lightgray;
    margin: 50px 100px;
    padding: 1px 10px 1px 10px;
    display: inline-block;
 
}



